body{
    background-color: rgb(121, 43, 43);
    font: normal 12pt Arial;
}
header{
    font-size: 20pt;
    color: white;
    text-align: center;
}
section{
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}
footer{
    color: white;
    text-align: center;
    font-size: 9pt;
    margin-top: 10pt;
}
div.display{
        position: relative;
        top: 0;
        left: 0;
}
img#velocimetro {
    position: relative;
    top: 0px;
    left: 0px;
  }
img#ponteiro {
    position: absolute;
    top: 55px;
    left: 125px;
  }