body{
    background-color: rgb(42, 35, 53);
    font: normal 12pt Arial;
}
header{
    font-size: 18pt;
    color: rgb(179, 180, 196);
    text-align: center;
}
input#inputborder{
    display: block;
    margin-right: auto;
    margin-left: auto;  
    margin-top: 30pt;
}
div#painel{
    background-color: rgb(60, 59, 87) ;
    width: 300pt;
    height: 200pt;
    margin: auto;
    margin-top: 30pt;
}
p#res{ 
    position: relative;
    top: 46%;
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 10pt;
}
