body{  
    background-color: rgb(160, 203, 253);
    font: normal 15pt Arial;
}
header{
    font-size: 20pt;
    color: white;
    text-align: center;
}
section#painel{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    text-align: center;
    padding: 15pt;
}
footer{
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 10pt;

}
input#entrada{
    width: 50pt;
}

p#res{
    font-size: 20pt;
}

input#button{
    bottom: 10pt;
}