body{  
    background-color: rgb(160, 203, 253);
    font: normal 15pt Arial;
}
header{
    font-size: 20pt;
    color: white;
    text-align: center;
}
section#painel{
    background-color: white;
    border-radius: 10px;
    width: 315px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    padding: 15pt;
    text-align: left;
    
}
footer{
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 10pt;

}
input#binary{
    width: 100pt;
    position: relative;
    left: 11pt;
}
input#button1{
    position: relative;
    left: 11pt;
}
input#decimal{
    width: 100pt;
}