body{
    background-color: rgb(135, 151, 243);
    font: normal 12pt Arial;
}
header{
    font-size: 20pt;
    color: white;
    text-align: center;
}
section{
    background-color: white ;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}
div#res{
    text-align: center;
}
img#foto{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 60%;

}

footer{
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 10pt;

}